/**
Layout de positionnement des blocs
Inclusion des polices en css3
 */
@font-face {
    font-family : "Arista";
    src: url(../typos/Arista2.0_light.eot); /* IE */
    src: local("Arista"), url(../typos/Arista2.0_light.ttf) format('truetype');/* non-IE */
}


html {
 margin: 0;
 padding: 0;
}


body {
	margin: 0;
	padding: 0;
	font-family: Trebuchet MS, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	background-color: white;
	color: gray;
}
ul,li,dl,dd,dt{
    list-style-position: inside;
}
 /*------------------------------------------------------*
  *--------    CSS BLOCS     						 ----*
  *------------------------------------------------------*/


#general{
	margin:0 auto;
	padding:0;
	width:100%;
}

/*Haut de page  HEADER*/

#header{
	margin:0 auto;
	padding:0;
	width:990px;
	height:auto;
	background-color:transparent;
}

/*Contenu de page  CONTENT */

#contentPage, #contentPageActu {
	margin:0 auto;
	padding:0;
	width: 990px;
	background: white;/*couleur fond de page content*/
}
#content-inner,#left-content,#right-content{
height: 100%;
}
/*//////SOUS ENTETE/////*/
/*#content-top{
	margin:0 auto;
	padding:5px;
	width:500px;
	height:auto;
	background-color: red;
	}
*/
/*/// debut des colonnes ///*/
#left-content{
	float:left;
	position:relative;
	background-color:transparent;
	width:200px;
	left:0px;
}

/*/// partie de droite ///*/
#right-content{
	float:right;
	position:relative;
	background-color:#FF66CC;
	width:200px;
	right:0px;
}
/*inner content*/
#content-inner{
width:auto;
margin:0 auto;
float:left;
background-color: white;

}
/*///    partie du centre   ///*/
#middle-content{
    	float:left;
	position:relative;
	background-color:transparent;
	width:755px;
	padding:5px;
        margin: 0 auto;
        border-left: 1px solid #ACC624;
        border-right: 1px solid #F8E91B;
 }

/*PIED DE CONTENU*/
#content-bottom{
background:transparent;
width:100%;
margin: 0 auto;
}

/*Bas de page  FOOTER*/

#footer{
	margin:0 auto;
	padding:5px 0;
	width:980px;
	background: white url(../images/bg_footer.jpg) no-repeat bottom right;
	text-align: left;
	color: #9898a6;
        height:50px;
}

#footer a{
color: #9898a6;
text-decoration:none;
}
#footer a:hover{
color: #000000;
}
#bloc_stats{
    color:red;
    margin:0 auto;
    width:600px;
}
/**----Fin FOOTER---***/
#content-top{
    margin:0 auto;
    padding:5px;
    width:970px;
    height:auto;
    background: white url(../images/fieldset_top.gif) repeat-x scroll left 11px;
   }

 #content-top-home{
    margin:0 auto;
    padding:5px;
    width:970px;
    height:90px;
    background: white url(../images/fieldset_top.gif) repeat-x scroll left bottom;
   }
   /*//////////////////////\\\\\\\\\\\\\\\\\\\\\\
********** LAYOUT NODE.TPL OVERRIDE **********
\\\\\\\\\\\\\\\\\\\\\\\//////////////////////*/
/*//////////////// COLONNE 1 \\\\\\\\\\\\\\\\*/
#colonne-1{
    
   
}
.col1_layout_200_570_200{
    width: 200px;
    float: left;
}
.col1_layout_330_all{}
.col1_layout_18_56_25{}
.col1_layout_225_735{width: 225px;}
.col1_layout_250_700{width: 250px; float: left;}
.col1_layout_320_660{width: 320px;}
/*//////////////// COLONNE 2 \\\\\\\\\\\\\\\\*/
#colonne-2, #middle-content-override{
    padding: 5px;

}
.col2_layout_200_570_200{width: 570px;float: left;
}
.col2_layout_330_all{}
.col2_layout_18_56_25{}
.col2_layout_225_735{width: 735px;}
.col2_layout_250_700{width: 700px; float: left;}
.col2_layout_320_660{width: 660px;}

/*//////////////// COLONNE 3 \\\\\\\\\\\\\\\\*/
.col3_layout_200_570_200{width: 200px;float: left;}
.col3_layout_330_all{}
.col3_layout_18_56_25{}

#colonne-unik{padding: 3px;width: 990px;}
/*//////////////// BORDER COLONNE 1 \\\\\\\\\\\\\\\\*/

/*//////////////// BORDER COLONNE 2 \\\\\\\\\\\\\\\\*/
.rouge-bleu{ border-left: 1px solid #E2001A; border-right: 1px solid #00AAD2;}
.rose-bleu { border-left: 1px solid #E2007A; border-right: 1px solid #00AAD2;}
.noir-vert { border-left: 1px solid #606171; border-right: 1px solid #C8D215;}
.bleu-violet { border-left: 1px solid #00AAD2; border-right: 1px solid #93117E;}
.vert-violet { border-left: 1px solid #C8D215; border-right: 1px solid #93117E;}
.anthracite-orange{border-left: 1px solid #606070;border-right: 1px solid #E75130;}
/*//////////////// BORDER COLONNE 3 \\\\\\\\\\\\\\\\*/
   
  /*------------------------------------------------------*
  *------------ CSS H  ----*
  *------------------------------------------------------*/

h1 {
	margin: 0;
	padding: 5px 0;
	color:#93117E;
	font-size: 24px;
        line-height:1em;
}

h2 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 18px;
}
h2.title{
	margin: 5px;
	padding: 0;
	color:#000;
	font-size: 18px;
}
h2.title a{
	color:#EA5132;
        text-decoration: none;
}
h2.title a:hover{
	text-decoration: underline;
}
h3 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 16px;
}
h4 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 14px;
}
h5 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 12px;
}
h6 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 10px;
}
/*-----FIN LAYOUT DE BASE-----------*/
/***************************************/

/* LAYOUT PAGE BASE 2 COLONNES*/
#content-inner-base2col{
    width:710px;
    margin:0 auto;
    float:left;
    background-color: white;
}

#middle-content-base2col{
    	float:left;
	position:relative;
	background-color:transparent;
	width:710px !important;
        width: 710px ;
	padding:5px;
        margin: 0 auto;
        border-right: 1px solid #93117E;
}

#right-content-base2col{
        float:right;
	position:relative;
	background-color:transparent;
	width:235px;
	right:0px;
}
/*----PAGE LYCEE-----*/
#left-content-pageLycee{
	float:left;
	position:relative;
	background-color:transparent;
	width:200px;
	left:0px;
}
#content-inner-pageLycee{
width:570px;
margin:0 auto;
float:left;
background-color: white;

}
#middle-content-pageLycee{
    	float:left;
	position:relative;
	background-color:transparent;
	width:auto;
	padding:5px;
        margin: 0 auto;
        border-left: 1px solid #606070;
        border-right: 1px solid #E75130;
 }
 #right-content-pageLycee{
	float:right;
	position:relative;
	background-color:transparent;
	width:200px;
	right:0px;
}
/*LAYOUT PAGE VIE DU LYCEE*/
#left-content-vie-lycee{
   float:left;
   position:relative;
   background-color:transparent;
   width:250px;
}
#content-inner-vie-lycee{
    	float:left;
	position:relative;
	background-color:transparent;
	width: 990px;
}
#middle-content-vie-lycee{
       	float:left;
	position:relative;
	background-color:transparent;
	width: auto;
	padding:5px;
        margin: 0 auto;      
}
#right-content-vie-lycee{}
/*LAYOUT SORTIE*/
#left-content-sortie{
	float:left;
	position:relative;
	background-color:transparent;
	width:225px;
	left:0px;
}

#right-content-sortie{
	float:right;
	position:relative;
	background-color:#FF66CC;
	width:200px;
	right:0px;
}

#content-inner-sortie{
width:735px;
margin:0 auto;
float:left;
background-color: white;

}

#middle-content-sortie{
    	float:left;
	position:relative;
	background-color:transparent;
	width:735px !important;
        width: 735px;
	padding:5px;
        margin: 0 auto;
        border-left: 1px solid #93117E;
        border-right: 1px solid #F09500;
 }
 /*LAYOUT FOYER*/
#left-content-foyer{
	float:left;
	position:relative;
	background-color:transparent;
	width:225px;
	left:0px;
}

#right-content-foyer{
	float:right;
	position:relative;
	background-color:#FF66CC;
	width:200px;
	right:0px;
}

#content-inner-foyer{
width:735px;
margin:0 auto;
float:left;
background-color: white;

}

#middle-content-foyer{
    	float:left;
	position:relative;
	background-color:transparent;
	width:735px !important;
        width: 735px;
	padding:5px;
        margin: 0 auto;
        border-left: 1px solid #93117E;
        border-right: 1px solid #F09500;
 }
  /*LAYOUT PROJET*/
#left-content-projet{
	float:left;
	position:relative;
	background-color:transparent;
	width:225px;
	left:0px;
}

#right-content-projet{
	float:right;
	position:relative;
	background-color:#FF66CC;
	width:200px;
	right:0px;
}

#content-inner-projet{
width:735px;
margin:0 auto;
float:left;
background-color: white;

}

#middle-content-projet{
    	float:left;
	position:relative;
	background-color:transparent;
	width:735px !important;
        width: 735px;
	padding:5px;
        margin: 0 auto;
        border-left: 1px solid #93117E;
        border-right: 1px solid #F09500;
 }
 /*LAYOUT FICHES FORMATIONS*/
#left-content-fiche-formations{
   float:left;
   position:relative;
   background-color:transparent;
   width:305px;
   padding:3px;
}
#content-inner-fiche-formations{
    	float:left;
	position:relative;
	background-color:transparent;
	width: auto;
}
#middle-content-fiche-formations{
       	float:left;
	position:relative;
	background-color:transparent;
	width: 590px;
	padding:5px;
        margin: 0 auto;
        border-left: 1px solid #E2017B;
        border-right: 0px solid #F8E91B;
}
#right-content-fiche-formations{
    width: auto;
    padding: 0;
    margin: 0;
}
/*LAYOUT PAGE CONTACT OU FORMULAIRE*/
#left-content-contact{
   float:left;
   position:relative;
   background-color:transparent;
   width:250px;
}
#content-inner-contact{
    	float:left;
	position:relative;
	background-color:transparent;
	width: 700px;
}
#middle-content-contact{
       	float:left;
	position:relative;
	background-color:transparent;
	width: 700px;
	padding:5px;
        margin: 0 auto;
        border-left: 1px solid #ACC624;
        border-right: 1px solid #F8E91B;
}
#right-content-contact{}

/*lien sur logo PF*/
.img_lien_pf{border: 0;}

/*--------------------------------------
**** POLE FORMATION REDESIGN 2012 ******
_________________________________________*/
.bloc-pole a{text-align: center;}
.bloc-pole{width: 240px;float: left;margin: 0 3px;}
.bloc-pole a{color: #911381;text-decoration: none;line-height: 1.6em;padding: 1px;text-align: center;display: block;}
.bloc-pole a:hover{background:#ADC821;color: whitesmoke;}
.bloc-pole h3{text-align: center;margin:0 0 5px 0;}
.bloc-pole .complement{text-align: center;font-style: italic;color: #7A7B85;display: block;}

#industrie table{width:235px;background: #EFEFEF;border:3px solid #F39300;padding: 3px;margin: 22px 0 0 0;}
#restauration table{width:235px;background:#EFEFEF;border:3px solid #ADC91F;padding: 3px;margin: 22px 0 0 0;}
#services table{width:235px;background: #EFEFEF;border:3px solid #01AAD3;padding: 3px;}
#orientation table{width:235px;background: #EFEFEF;border:3px solid #E1017B;padding: 3px;margin: 22px 0 0 0;}

#industrie h3{color: #F39300;}
#services h3{color: #01AAD3;}
#restauration h3{color: #ADC91F;}
#orientation h3{color: #E1017B;}
#industrie tr,#services tr,#restauration tr,#orientation tr{margin: 2px 0;}
#industrie td,#services td,#restauration td,#orientation td{padding: 10px 5px;display: block;}